.ultimo-numero-sorteado {
    background-color: greenyellow;
}
.ultima-letra-sorteada {
    background-color: orange;
}
.numero-sorteado {
    background-color: lightseagreen;
}
.letra {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-weight: bold;
}
.numero {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid;
}
#divNumeroSorteado {
    width: 50px;
    height: 50px;
    border: 2px solid orange;
    font-weight: bold;
}
.numero-sorteado-pedra-maior {
    display: inline-block;
    text-align: center;
    font-weight: normal;
    border: 1px solid black;
}
.ultimo-numero-sorteado-pedra-maior {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
}
.pedra-maior {
    background-color: orange;
}